<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img [src]="logoUrl" alt="ElderLead Logo" class="logo">
      <h3>Connecting Seniors to Active Communities</h3>
    </div>
    
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="isSubmitted && errorControl['email'].errors" class="error-message">
        <span *ngIf="errorControl['email'].errors?.['required']">Email is required</span>
        <span *ngIf="errorControl['email'].errors?.['email']">Please enter a valid email</span>
      </div>
      
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="isSubmitted && errorControl['password'].errors" class="error-message">
        <span *ngIf="errorControl['password'].errors?.['required']">Password is required</span>
        <span *ngIf="errorControl['password'].errors?.['minlength']">Password must be at least 6 characters</span>
      </div>
      
      <div class="ion-padding">
        <ion-button type="submit" color="primary" expand="block">SIGN IN</ion-button>
      </div>
    </form>
    
    <div class="separator">
      <div class="line"></div>
      <div class="text">OR</div>
      <div class="line"></div>
    </div>
    
    <div class="social-login">
      <ion-button expand="block" fill="outline" (click)="googleLogin()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        SIGN IN WITH GOOGLE
      </ion-button>
    </div>
    
    <div class="register-link">
      <p>Don't have an account? <a (click)="goToRegister()">REGISTER</a></p>
    </div>
  </div>
</ion-content>