<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon size="large" name="chevron-back-outline" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-filter">
    <ion-searchbar placeholder="Search..." (ionInput)="filterActivities($event)"></ion-searchbar>
    <ion-button fill="outline">
      <ion-icon slot="icon-only" name="options-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-list>
    <ion-item *ngFor="let activity of filteredActivities" (click)="goToEventDetails()">
      <ion-thumbnail slot="start">
        <img [src]="activity.image" [alt]="activity.name">
      </ion-thumbnail>
      <ion-label>
        <p class="date-time">{{ activity.date }}</p>
        <h2>{{ activity.name }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="filteredActivities.length === 0">
    <p style="text-align: center; margin-top: 20px;">No activities found.</p>
  </ion-text>
</ion-content>
