<ion-header>
  <ion-toolbar>
    <ion-title>Add Activity</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/admin']">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Add Activity Form -->
  <form #activityForm="ngForm" (ngSubmit)="add(activityForm)">
    <!-- Title Field -->
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="newActivity.title" name="title" required #title="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="title.invalid && title.touched" class="error-message">
      <p *ngIf="title.errors?.['required']">Title is required.</p>
    </div>

    <!-- Description Field -->
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="newActivity.description" name="description" required #description="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="description.invalid && description.touched" class="error-message">
      <p *ngIf="description.errors?.['required']">Description is required.</p>
    </div>

    <!-- Start Time Field -->
    <ion-item>
      <ion-label position="floating">Start Time</ion-label>
      <ion-datetime [(ngModel)]="newActivity.startTime" name="startTime" required display-format="HH:mm" picker-format="HH:mm" #startTime="ngModel"></ion-datetime>
    </ion-item>
    <div *ngIf="startTime.invalid && startTime.touched" class="error-message">
      <p *ngIf="startTime.errors?.['required']">Start time is required.</p>
    </div>

    <!-- End Time Field -->
    <ion-item>
      <ion-label position="floating">End Time</ion-label>
      <ion-datetime [(ngModel)]="newActivity.endTime" name="endTime" required display-format="HH:mm" picker-format="HH:mm" [min]="newActivity.startTime" #endTime="ngModel"></ion-datetime>
    </ion-item>
    <div *ngIf="endTime.invalid && endTime.touched" class="error-message">
      <p *ngIf="endTime.errors?.['required']">End time is required.</p>
    </div>

    <!-- Location Field -->
    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input [(ngModel)]="newActivity.location" name="location" required #location="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="location.invalid && location.touched" class="error-message">
      <p *ngIf="location.errors?.['required']">Location is required.</p>
    </div>

    <!-- Category Dropdown -->
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="newActivity.category" name="category" interface="alert" required #category="ngModel">
        <ion-select-option value="Exercise">Exercise</ion-select-option>
        <ion-select-option value="Social">Social</ion-select-option>
        <ion-select-option value="Learning">Learning</ion-select-option>
        <ion-select-option value="Others">Others</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="category.invalid && category.touched" class="error-message">
      <p *ngIf="category.errors?.['required']">Category is required.</p>
    </div>

    <!-- Image Upload -->
    <ion-item>
      <ion-label>Image</ion-label>
      <ion-thumbnail *ngIf="newActivity.imagePath" style="width: 90%; height: auto; max-width: 400px; margin-top: 15px;">
        <img [src]="newActivity.imagePath" alt="Activity Image">
      </ion-thumbnail>
      <ion-button expand="block" color="tertiary" (click)="uploadImage()">Upload Image</ion-button>
    </ion-item> 

    <!-- Submit Button -->
    <ion-button expand="full" type="submit" [disabled]="!activityForm.form.valid">Add Activity</ion-button>
  </form>
</ion-content>
