.exercise {
    background-color: #F0635A; // Orange-Red for Exercise
  }
  
  .social {
    background-color: #F59762; // Blue for Social
  
  }
  
  .learning {
    background-color: #00B6AA; // Green for Learning
  }
  
  ion-label{
    font-weight:bold;
    color: white;
  }

  ion-icon{
    font-size: 1.5rem
  }