.exercise {
    background-color: #F0635A; // Orange-Red for Exercise
  }
  
  .social {
    background-color: #F59762; // Blue for Social
  
  }
  
  .learning {
    background-color: #00B6AA; // Green for Learning
  }
  
  ion-label{
    font-weight:bold;
    color: white;
  }

  ion-icon{
    font-size: 1.5rem
  }

  ion-card {
    margin-bottom: 15px;
  }
  
  ion-card img {
    height: 200px;
    object-fit: cover;
  }
  
  ion-card-content p {
    font-size: 14px;
    color: #333;
  }

  .swiper-container {
    width: 100%;
    padding-bottom: 20px;

    .swiper-wrapper {
      display: flex;
      align-items: center;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px; /* Add spacing between slides */
    }
  }

  .entry-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 280px; /* Set a fixed width for consistency */
    height: 400px; /* Set a fixed height for consistency */

    img {
      width: 100%;
      height: 200px; /* Ensure images have the same height */
      object-fit: cover; /* Crop images to fit */
      border-radius: 10px;
      margin-bottom: 15px;
    }

    .entry-details {
      .entry-date {
        font-size: 16px;
        font-weight: bold;
        color: #444;
        margin-bottom: 10px;
      }

      .entry-description {
        font-size: 14px;
        color: #666;
        word-wrap: break-word; /* Prevent text overflow */
        overflow: hidden;
        text-overflow: ellipsis; /* Add ellipsis for overflowed text */
        max-height: 50px; /* Limit description height */
      }
    }
  }
  
 