<ion-header>
  <ion-toolbar>
    <ion-title>Activity Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="confirmation-container">
    <ion-icon name="checkmark-circle" class="success-icon"></ion-icon>
    <h2>You're All Set!</h2>
    <p>Successfully joined</p>
    <ion-button expand="block" color="primary" (click)="viewActivities()">View My Activities</ion-button>
    <ion-button expand="block" color="light" (click)="backToActivities()">Back to Activities</ion-button>
  </div>
</ion-content>